 <!-- Blog HTML -->
    <section id="blog">
        <div class="container"> 
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1"> 

                    <!-- Blog Post -->
                    <!-- <h2><a href="/blog/ionic.html">Ionic Framework</a></h2>

                    <p class="lead">by <a href="/perfil/rafael.html">Rafael Casa Santa Pierote</a></p>
                    <p><span class="glyphicon glyphicon-time"></span> Postado em 28 de Março de 2020</p>             
                    <hr>
                    <p>
                        Uma ferramenta de alto potencial para criação de aplicações web e mobile.
                    </p> -->

                    <!-- <a class="btn btn-primary" href="/blog/ionic.html">Leia Mais
                        <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <hr>  -->


                    <!-- Blog Post -->
                    <h2><a href="/blog/portfolio">Criando o Site.</a></h2>

                    <p class="lead">by <a href="/perfil/amanda.html">Amanda Rodrigues Carvalho da Silva</a></p>
                    <p><span class="glyphicon glyphicon-time"></span> Postado em 28 de Março de 2020</p>             
                    <hr>
                    <p>Desenvolvendo um blog portfolio a partir de um gerador de sites estáticos.</p>

                    <a class="btn btn-primary" href="/blog/portfolio.html">Leia Mais 
                        <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <hr> 

                    <h2><a href="/blog/nuvem">Hospedando o Site.</a></h2>

                    <p class="lead">by <a href="/perfil/vitor.html">Vitor Daisuke Kuriki Wakisaka</a></p>
                    <p><span class="glyphicon glyphicon-time"></span> Postado em 28 de Abril de 2020</p>             
                    <hr>
                    <p>Hospedando um blog portfolio com a AWS.</p>

                    <a class="btn btn-primary" href="/blog/nuvem.html">Leia Mais 
                        <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <hr> 

                </div>
            </div> 
        </div>
    </section>