 <!-- Call to action Start -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>Conhecimento através da prática.</h2>
              <p> Conheça os projetos e trabalhos desenvolvidos pela equipe durante a aprendizagem acadêmica</p>
              <a class="btn btn-default btn-call-to-action" href="/projetos.html" >Leia mais</a>
            </div>
          </div>
        </div>
      </div>
    </section>