


<h3>Alguma Dúvida ?  Converse conosco  </h3>
                  <ul class="address-block">
                    <li>
                      <i class="fa fa-map-marker"></i>Av. Juscelino Kubitschek, 1626, Londrina-PR, CEP: 86.020-000.
                    </li>
                    <li>
                      
                      <i class="fa fa-envelope-o"></i>Email: vaitor-dkw@edu.unifil.br 
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i>Email: amanda.rcarvalho@edu.unifil.br
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i>Email: rafael.casasanta@edu.unifil.br

                      
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>Phone:(43) 3375-7474
                    </li>
                  </ul>