<!-- Service Start -->
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>Tech Stack</h2>
            <p>
              Conjunto de tecnologias utilizadas no desenvolvimento dos projetos. 
              <br>É uma combinação de linguagens de programação, frameworks, estruturas, bibliotecas,
               padrões, servidores, soluções de UI / UX, software e ferramentas necessárias para o design e
                desenvolvimentos de aplicações web e mobile e sistemas.
            </p>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <hr>
             <i> <img src="/img/projetos/astahlogo.png" width="30%" height="30%"></i>
              <h4>Astah</h4>
              <p>As ferramentas de modelagem para criação de diagramas  UML, diagramas de ER,
                 diagramas de fluxo de dados, fluxogramas, mapas mentais e muito mais. </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <hr>
              <i><img src="/img/projetos/bootstraplogo.jpg" width="40%" height="50%"></i>
              <h4>BootStrap</h4>
              <p>O Bootstrap é um kit de ferramentas de código aberto para desenvolvimento com HTML, CSS e JS. </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <hr>
             <i> <img src="/img/projetos/ioniclogo2.jpg" width="50%" height="30%"></i>
              <h4>Ionic Framework</h4>
              <p>O Ionic Framework é um kit de ferramentas de interface do usuário de código aberto para 
                a criação de aplicativos móveis e de desktop de alto desempenho, usando tecnologias da Web. </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i><img src="/img/projetos/github-logo.png" width="70%" height="70%"></i>
              <h4>GitHub</h4>
              <p>GitHub é uma plataforma de hospedagem de código-fonte com controle de versão usando o Git. 
                Ele permite que programadores, utilitários ou qualquer usuário cadastrado na plataforma 
                contribuam em projetos privados e/ou Open Source de qualquer lugar do mundo. </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i><img src="/img/projetos/javalogo.jpg" width="80%" height="80%"></i>
              <h4>Java</h4>
              <p>O Java é uma tecnologia usada para desenvolver aplicações que tornam a Web mais divertida e útil. </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i><img src="/img/projetos/jslogo.jpg" width="50%" height="30%"></i>
              <h4>JavaScript</h4>
              <p>JavaScript é uma linguagem de programação interpretada estruturada, 
                de script em alto nível com tipagem dinâmica fraca e multi-paradigma.  </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <hr>
              <i><img src="/img/projetos/jekylllogo.jpg" width="70%" height="70%"></i>
              <h4>Jekyll</h4>
              <p>Jekyll é um gerador de site estático baseado na linguagem Ruby, renderiza Markdown e Líquid. 
                Ele é o mecanismo por trás das páginas do GitHub.  </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i><img src="/img/projetos/scratchlogo.jpg" width="50%" height="50%"></i>
              <h4>Scratch</h4>
              <p>Scratch é uma linguagem de programação criada em 2007 pelo Media Lab do MIT.
                Com ele pode programar as suas próprias estórias, jogos e animações interactivos. </p>
            </div>
          </div>
        </div>
      </div>
    </section>