<!-- Content Start -->
    <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="section-title text-center">
            <h2>Um pouco sobre o Grupo</h2>
            <p> O grupo foi formado para fins de compartilhamento de conhecimento, entretanto
              o envolvimento em trabalhos e projetos fez com que aumentasse a parceria e a amizade,
               unindo forças para explorar o mundo tecnológico.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <ul class="counter-box clearfix">
                <li>
                  <div class="block">
                    <i class="ion-ios-chatboxes-outline"></i>
                    <h4 class="counter">10000</h4>
                    <span>Mensagens nos chats</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-glasses-outline"></i>
                    <h4 class="counter">1000</h4>
                    <span>Horas de estudo</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-compose-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Linhas de código</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-timer-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-carousel">
              <div id="testimonial-slider" class="owl-carousel">
               
                <div>
                    <div class="user">
                      <img src="img/membros/amanda.jpg" alt="Pepole" width="20%" height="10%" >
                      <p><span>Amanda Rodrigues Carvalho da Silva</span></p>
                    </div>
                    <p>Cursando Engenharia de Software</p>
                    <p>Desenvolvendo habilidades e competências nas áreas de desenvolvimento web, banco de dados,
                      apps mobile entre outros. 
                      Interesse e facínio por áreas relacionadas à UX/UI Design.</p>
                    <a href="/perfil/amanda.html" class="btn btn-view-works">Saiba Mais</a>
                </div>

                <div>
                  <div class="user">
                    <img src="img/membros/Rafael.jpeg" alt="Pepole" width="20%" height="20%" >
                    <p><span>Rafael Casa Santa Pierote</span></p>
                  </div>
                  <p>Estudante de programação no segundo ano do curso, aprendendo projetos e 
                    desenvolvendo ideias para um mundo melhor e mais tecnológico, ajudando a preservar nosso futuro, 
                    pronto para aceitar qualquer desafio, interessado em aprender muito mais. </p>

                  <a href="/perfil/rafael.html" class="btn btn-view-works">Saiba Mais</a>
              </div>
              <div>
                <div class="user">
                  <img src="img/membros/vitor.jpg" alt="Pepole" width="20%" height="20%" >
                  <p><span> Vitor Daisuke Kuriki Wakisaka</span></p>
                </div>
                <p>Estudante de Engenharia de Software. Grande fã de jogos estratégicos e de dificuldades elevadas.
                  Tem muito interesse em programação e disposição a aprender  linguagens e técnicas que facilitam a 
                  qualidade de vida das pessoas. </p>

                <a href="/perfil/vitor.html" class="btn btn-view-works">Saiba Mais</a>
            </div>
        </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>