   <!-- Portfolio Start -->
    <section id="portfolio-work">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <div class="portfolio-menu">
                    <ul>
                        <li class="filter" data-filter="all">Todos</li>
                        <li class="filter" data-filter=".Web">Web</li>
                        <li class="filter" data-filter=".Mobile">Mobile</li>
                        <li class="filter" data-filter=".Games">Games</li>
                    </ul>
                  </div>
                  <div class="portfolio-contant">
                    
                    <ul id="portfolio-contant-active">
                        <li class="mix Mobile">
                          <a href="/projetos/project01-ionic.html">
                            <img src="img/blog/trink/gotaW.jpg" width="30%" height="30%" alt="">
                            <div class="overly">
                              <div class="position-center">
                                <h2>Trink W</h2>
                                <p>Um projeto criado em Ionic </p>
                              </div>
                            </div>
                          </a>
                      </li>
                      <li class="mix Games">
                        <a href="/projetos/project02-scratch.html">
                          <img src="img/blog/scratch/scratch-astrds.png" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>Asteroids</h2>
                              <p>Um jogo criado em Scratch </p>                              
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="mix Games">
                        <a href="/projetos/project03-scratch.html">
                          <img src="img/blog/scratch/scratch-gatinho.png" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>Jogo do Gatinho</h2>
                              <p>Um jogo criado em Scratch</p>                              
                            </div>
                          </div>                          
                        </a>
                      </li>
                      <li class="mix Games">
                        <a href="/projetos/project04-scratch.html">
                          <img src="img/blog/scratch/scratch-run.png" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>Treinando Corremon</h2>
                              <p>Um jogo criado em Scratch </p>                              
                            </div>
                           </div>
                            </a>
                         </li>                              
                      </div>
                     </div>
                     </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
 </section>

    
  


   


